@model IEnumerable<ProjectQLTS.ThanhVien>

@{
    ViewBag.Title = "Thành viên";
}

<h2>THÀNH VIÊN</h2>

<p>
    @Html.ActionLink("Thêm thành viên", "Create")

    @using (Html.BeginForm())
    {
    <p>
        Title: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
    </p>
    }

</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhanQuyen.TenQuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhanQuyen.TenQuyen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDThanhVien }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDThanhVien })
                </td>
            </tr>
        }

    </table>
